<div style="width: 100%">



  <div class="text-end">


    <mat-icon matTooltip="cancel">cancel</mat-icon>

  </div>

  <div>

<!--    <div *ngIf="formGroup">-->
<!--      <c-row>-->

<!--        <c-col>-->
<!--          <c-card>-->

<!--            <c-card-header>-->
<!--              <strong>Add New Menu</strong>-->
<!--            </c-card-header>-->


<!--            <c-card-body>-->

<!--              <form >-->

<!--                <c-col>-->

<!--                  <label cLabel>Parent</label>-->


<!--                </c-col>-->


<!--              </form>-->

<!--            </c-card-body>-->

<!--          </c-card>-->

<!--        </c-col>-->


<!--      </c-row>-->

<!--    </div>-->

  </div>

</div>
